<div class="mega-menu">
    <nav class="navbar">
        <ul class="nav-menu">
            {% for block in section.blocks %}
            <li class="nav-item">
                {% if block.type == 'mixed' %}
                    {% comment %} Menu With Image {% endcomment %}
                    {% if block.settings.menu_1_link != blank %}
                        {% if block.settings.menu_1_link != blank %}
                            <a href="{{ block.settings.menu_1_link }}" class="nav-link top-link--menu">
                        {% endif %}
                            {{block.settings.menu_1_text }}
                            {% render 'icon-caret' %}
                        {% if block.settings.menu_1_link != blank %}
                            </a>
                        {% endif %}

                        {% render 'mega-menu__linklist',
                            menu_link: block.settings.menu_1,
                            imageLink: block.settings.image_1_link,
                            image : block.settings.image
                        %}
                    {% endif %}
                {% endif %}

                {% if block.type == 'text' %}
                    {% comment %} Menu with Text {% endcomment %}
                    {% if block.settings.menu_2_text != blank %}
                        {% if block.settings.menu_2_link != blank %}
                            <a href="{{ block.settings.menu_2_link }}"  class="nav-link">{{ block.settings.menu_2_text }}</a>
                        {% else %}
                            <p>{{ block.settings.menu_2_text }}</p>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</div>
