{% assign menu = linklists[menu_link] %}
{% assign indicator = false %}
{% assign title = '' %}
<div class="mega-menu-wrapper">
    <div class="mega-menu-content">
        {% for link in menu.links %}
            {% if link.links == blank %}
                {% assign title =  link.title | concat: ',' %}
                {% assign indicator = true %}
            {% endif %}
        {% endfor %}
        {% if indicator %}<div class="break-column">{%endif%}
        
        {% for link in menu.links %}
            {% if link.links != blank %}
                {% if indicator %}</div>{%endif%}
                {% assign indicator = false %}
                <div class="{% if link.links != blank %}mega-sub-menu-content has-child{%endif%}">
                    <a href="{{ link.url }}" class="mega-menu__linklist-link nav-link {% if link.active %}is-active{% endif %}">
                        {{ link.title }}
                    </a>
                    {% if link.links != blank %}
                    <ul class="child">
                        {% for child_link in link.links %}  
                            <li><a href= "{{ child_link.url }}">{{ child_link.title }}</a>
                                {% if child_link.links != blank %}
                                    <ul class="grandchild">
                                        {% for grandchild_link in child_link.links %}  
                                            <li><a href= "{{ grandchild_link.url }}">{{ grandchild_link.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}   
                            </li>
                        {% endfor %}
                    </ul> 
                    {% endif %}
                </div>
                
            {% else %}
                <div class="mega-sub-menu-content">
                    <a href="{{ link.url }}" class="mega-menu__linklist-link {% if link.active %}is-active{% endif %}">
                        {{ link.title }}
                    </a>
                </div>
                {% assign indicator = true %}
            {% endif %}
            
        {% endfor %}
        
        <div class="image-element__wrap" >
            {% if imageLink != blank %}
                <a href="{{ imageLink }}">
                    <img  alt="{{ alt | escape }}" src="{{ image | img_url: 'original' }}"/>
                </a>
            {% else %}
                <img  alt="{{ alt | escape }}" src="{{ image | img_url: 'original' }}"/>
            {% endif %}
        </div>
    </div>
</div>
