{% comment %}
Custom Mega menu 
{% endcomment %}

{{ 'component-mega-menu.css' | asset_url | stylesheet_tag }}

{% assign id = section.id %}

{% comment %} HTML {% endcomment %}
<section class="mega-menu__section mega-menu__{{ section.id }}">

  {% render 'custom-mega-menu', id: id %}

  <script src="{{ 'customMegaMenu.js' | asset_url }}"></script>
</section>

{% schema %}
{
  "name": "Mega menu",
  "class": "mega-menu-section mega-menu customMegaMenu",
  "max_blocks": 6,
  "settings": [
    {
      "type": "header",
      "content": "Mega menu",
      "info": "Mega menu header"
    },
    {
      "type": "text",
      "id": "parent_link",
      "label": "Link title",
      "default": "catalog",
      "info": "The mega menu will appear below this parent link."
    },
    {
      "type": "color",
      "id": "mega_menu_background_color",
      "label": "Background",
      "default": "#f6f6f6"
    },
    {
      "type": "color",
      "id": "mega_menu_text_color",
      "label": "Text",
      "default": "#404040"
    }
  ],
  "blocks": [
    {
      "type": "mixed",
      "name": "Menu with Image",
      "settings": [
        {
            "type": "text",
            "id": "menu_1_text",
            "label": "Menu Label"
        },
        {
            "type": "url",
            "id": "menu_1_link",
            "label": "Menu heading link"
        },
        {
          "type": "link_list",
          "id": "menu_1",
          "label": "Menu",
          "info": "Menu Item."
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "600 x 600px recommended"
        },
        {
          "type": "url",
          "id": "image_1_link",
          "label": "Image link"
        }
      ]
    },
    {
      "type": "text",
      "name": "Plain Menu",
      "settings": [
        {
          "type": "text",
          "id": "menu_2_text",
          "label": "Menu Label"
        },
        {
          "type": "url",
          "id": "menu_2_link",
          "label": "Menu heading link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Mega Menu",
      "category": "Text"
    }
  ]
}
{% endschema %}
