.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    color:#1E1C1C;
    padding: 0;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    position: relative;
    flex-basis: 100%;
}

.nav-item {
    margin-left: 5rem;
    text-decoration: none;
}

.nav-item .mega-menu-content{
    list-style: none;
    padding:3rem;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 1100px;
    margin-top:15px;
    background-color: #fff;
}

.mega-menu-wrapper{
    position: absolute;
    width: 100%;
    z-index: 999;
    max-width: 1100px;
    display: none;
    left: 15px;
    animation: animateMenuOpen var(--duration-default) ease;
}

.mega-menu-wrapper.active {
    display:block;
    opacity: 1;
    transform: translateY(0);
}

.nav-item ul li a,
.mega-sub-menu-content a{
    color: #1E1C1C;
    text-decoration: none;
}
.mega-sub-menu-content{
    padding-bottom: 10px;
}
.mega-sub-menu-content > a{
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 15px;
    color: #000;
}
.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color:#1E1C1C;
}

.nav-link svg{
    width:14px;
    margin-left:5px;
}

.nav-link:hover,
.mega-sub-menu-content > a:hover{
    color: #482ff7;
}

.mega-sub-menu-content.has-child{
    padding-right: 5%;
}

.break-column {
    flex-basis: 18%;
    width: 0;
    display: block;
}

.hamburger {
    display: none;
}

.image-element__wrap {
    max-width: 100%;
    float: right;
    flex-basis: 40%;
    margin-left: 60px;
}

.image-element__wrap img{
    width: 100%;
}

.mega-sub-menu-content ul{
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
}

.mega-sub-menu-content ul a{
    text-transform: capitalize;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        padding-left:0;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        margin-left:15px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .hamburger.active{
        z-index: 999;
    }

    .nav-item .mega-menu-content {
        display: block;
        padding: 1rem;
    }
    .break-column {
        width: 100%;
        display: block;
    }
    .nav-menu.active{
        z-index: 999;
        height: 100vh;
        padding-top: 0;
        top: 0;
        margin-top: 0;
    }
    .mega-menu-wrapper.active {
        max-height: 80vh;
        overflow: scroll;
    }
    .image-element__wrap{
        display: none;
    }

    .mega-menu-wrapper{
        left:0;
    }

}